# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
env/

# Django
db.sqlite3
*.log

# Environment
.env
.env.*

# Media / Static build outputs
media/
staticfiles/

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Store

# Archives
*.zip
